.button {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; // можно чуть скруглить кнопки, если хочешь
    font-size: 16px;
}

.modalContent {
  padding: 24px;        // внутренние отступы у модального окна
  min-width: 400px;     // ширина побольше
}

.createButton {
  align-self: flex-end; // кнопка будет справа
}
.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
}


